*{
  font-family: Arial, Helvetica, sans-serif;
}

.nav{
  display: flex;
  align-items: center;
  padding: 2vh;
}

.nav a{
  text-decoration: none;
  color: black;
}

.nav a:hover{
  color: rgb(0, 89, 255);
}

#logo{
  margin-right: auto;
}

.nav-links {
  display: flex;
  margin-right: auto;
  gap: 10vh;
}

.main-panel {
  color: rgb(255, 96, 48);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 2vh;
  padding: 2vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 1000px;
  height: 400px;

  background-image: url(assets/homes3.jpg);
  background-size: 100% 125%;
  background-repeat: none;
}

.main-panel h1{
  font-size: 8vh;
  margin-top: 4vh;
}

.main-panel h1>span{
  color: rgb(132, 0, 0);
}

.main-panel h3{
  font-size: 5vh;
  margin: 0;
}

.search-panel {
  display:inline-block;
  color: white;
  background-color: rgba(255, 115, 72, 0.811);
  border-radius: 1vh;
  padding: 2vh;
  margin-top: 10vh;
  height: fit-content;
  width: 700px;
}

.search-option-container{
  display: flex;
  gap: 7vh;
  justify-content: flex-start;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.search-panel hr{
  border-color: rgb(255, 252, 252);
  margin-top: 0;
}

.search-option {
  font-size: 3vh;
  font-weight: 700;
  list-style: none;
  padding: 3vh 0;
}

.search-option-selected {
  border-bottom: solid 2px white
}

.search-panel-form{
  display: flex;
  gap: 2vh;
  justify-content: center;
  align-items: flex-end;
}

.search-group{
  display: flex;
  flex-direction: column;
}

.search-group label{
  font-size: 2.5vh;
  font-weight: 600;
}

#search {
  padding: 2vh;
  outline: none;
  border: none;
  border-radius: 1vh;
  min-width: 530px;
  min-height: 50px;
  margin-top: 1vh;
}

#search-button {
  border: none;
  padding: 2vh;
  height: 2vh;
  border-radius: 1vh;
  min-width: 150px;
  min-height: 50px;
  font-weight: 600;
  background-color: #1b3644;
  color: white;
}

#search-button a{
  text-decoration: none;
  color: white;
}

#search-button a:hover{
  color: #00aaff;
}

.dropdown-container{
  box-sizing: border-box;
}

.select {
  cursor: pointer;
  display: flex;
  padding: 1vh;
  background-color: #00aaff;
  width: 100px;
}

.select-clicked {
  border: 2px solid white;
}

.menu {
  list-style: none;
  padding: 0vh;
  background-color: #1b3644;
  width: fit-content;
  color: white;
  display: none;
}

.menu li{
  padding: 1vh;
  cursor: pointer;
  width: 100px;
}

.active {
  background: palegoldenrod;
}

/* SearchBar + DropDown*/
.search-form {
  background-color: #cccccc;
  padding: 2vh;
  flex-direction: column;
  border-radius: 1vh;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2vh;
}

.search-form h1{
  font-size: 3.5vh;
  font-weight: 600;
  padding: 0;
  margin-top: 0;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  flex-wrap: wrap;
  height: 200px;
  padding: 1vh;
}

.search-form .form-group{
  display: flex;
  flex-direction: column;
}

.search-form .form-group select{
  max-width: 150px;
  border: none;
  border-radius: 5px;
  padding: 1vh;
}

.range-value-group{
  border: 2px solid red;
  width: fit-content;
}

.range-value-group .form-group select{
  width: 80px;
  max-width: 100px;
}


.range-values {
  display: flex;
  align-items: center;
  gap: 2vh;
}

/*
<form className="search-form">
    <h1>Find property for {props.purpose} in {props.location}</h1>
    <DropDown 
        label="Search radius"
        options={searchRadius}
        default="This area only"
        onSelect={(value) => console.log(`User selected: ${value}`)}
    />
    <div className="range-value-group">
        <label>Price Range</label>
        <div className="range-values">
            <DropDown 
                options={priceRange}
                default="No min"
                onSelect={(value) => console.log(`User selected: ${value}`)}
            />
            <p>-</p>
            <DropDown 
                options={priceRange}
                default="No max"
                onSelect={(value) => console.log(`User selected: ${value}`)}
            />
        </div>
    </div>

    <div className="range-values">
        <label>No. of Bedrooms</label>
        <DropDown 
            options={bedroomCount}
            default="No min"
            onSelect={(value) => console.log(`User selected: ${value}`)}
        />
        <p>to</p>
        <DropDown 
            options={bedroomCount}
            default="No max"
            onSelect={(value) => console.log(`User selected: ${value}`)}
        />
    </div>
    
    <DropDown 
        label="Property Type"
        options={propertTypes}
        default="Any"
        onSelect={(value) => console.log(`User selected: ${value}`)}
    />

    <DropDown 
        label="Added to Site"
        options={addedToSite}
        default="Anytime"
        onSelect={(value) => console.log(`User selected: ${value}`)}
    />

    <button>Search properties</button>
</form>
*/